body {
  background-color: lavender;
  font-family: Arial;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}

h1 {
  color: #3c415e;
  letter-spacing: 1px;
  text-shadow: 1px 1px grey;
  font-family: Arial;
}

h3 {

  color: #66BFBF;

}
